<?php
/**
 * Usage:
 * File Name: config.php
 * Author: annhe  
 * Mail: i@annhe.net
 * Created Time: 2016-06-24 11:39:32
 **/

$config = array();

$config['rooturl'] = "http://cmdb.xx/api/";
// 连接
$config['itop']['url'] = "http://cmdb.xx";
$config['itop']['user'] = "apiuser";
$config['itop']['password'] = "k2odmlx;pwo98";

// zabbix api
$config['zabbix']['url'] = "http://zbx.cn/api_jsonrpc.php";
$config['zabbix']['user'] = "user";
$config['zabbix']['password'] = "password";

// email
$config['mail']['api'] = "http://monitor.cn/api/mail";
$config['mail']['to'] = "xx@qq.com";
$config['mail']['cc'] = "xx@qq.com";
$config['mail']['from'] = "xx@163.com";

// graphviz
$config['graph']['url'] = "http://cmdb.cn/chart/api.php";
$config['graph']['postsize'] = 10000;  // dot源码长度超过此配置，使用post方式提交数据

// related
$config['related']['hide'] = "BusinessProcess,Team,Url";
$config['related']['depth'] = array(
	"app" => "1",
	"url" => "2",
	"server" => "3",
	"default" => "3",
);
$config['related']['rankdir'] = array(
	"app" => "LR",
	"url" => "LR",
	"server" => "TB",
	"default" => "TB",
);

// 相比之前在public.php中写死，这种方法能获得扩展能力，例如当需要查询RDS时，只需要定义'rds'=>"RDS"即可实现精确查询
$config['map'] = array(
	"app" => "ApplicationSolution",
	"server" => "Server",
	"ip" => "PhysicalIP",
	"url" => "Url",
	"person" => "Person",
	"default" => "FunctionalCI",
);

// node label删除固定内容(正则)，比如主机名后缀都有xxx.com，完全可以不显示(正则需要包含一个括号，替换匹配内容为\1)
$config['node']['strip'] = array('/(.*).xxx.com$/');


// output_fields
$config['output_fields'] = array(
	"Person" => "friendlyname,email,phone", 
	"ApplicationSolution" => "id,name,business_criticity,friendlyname",
);

// availability
$config['app_sla'] = array("high" => "1", "medium" => "2", "low" => "3", "null" => "4");
$config['influx'] = array("db" => "tengine", "host" => "127.0.0.1", "port" => "8086");
$config['influx']['query'] = 'SELECT 1 - "rate_5xx" - "rate_499" AS "avail" FROM "trend_365"."rate_d_reqstat" WHERE time > now() - 24h AND "cluster" !~ /beta/ GROUP BY "app", "cluster"';
$config['influx']['measurement'] = "rate_d_level";
$config['influx']['rp'] = "trend_365";
$config['app_status'] = array("1" => 0.999, "2" => 0.99, "3" => 0.95);
$config['report_tpl'] = "../etc/mail_report.tpl";  // 相对于cron目录的路径
$config['report_debug'] = true;
$config['report_cc'] = "xxx@qq.com";
