<?php
/**
 * Usage:
 * File Name: config.php
 * Author: annhe  
 * Mail: i@annhe.net
 * Created Time: 2016-06-24 11:39:32
 **/

$config = array();

// 连接
$config['itop']['url'] = "http://cmdb.xx";
$config['itop']['user'] = "apiuser";
$config['itop']['password'] = "k2odmlx;pwo98";

// zabbix api
$config['zabbix']['url'] = "http://zbx.cn/api_jsonrpc.php";
$config['zabbix']['user'] = "user";
$config['zabbix']['password'] = "password";

// email
$config['mail']['api'] = "http://monitor.cn/api/mail";
$config['mail']['to'] = "xx@qq.com";
$config['mail']['cc'] = "xx@qq.com";
$config['mail']['from'] = "xx@163.com";

// graphviz
$config['graph']['url'] = "http://cmdb.cn/chart/api.php";

// related
$config['related']['hide'] = "BusinessProcess,Team,Url";
$config['related']['depth'] = array(
	"app" => "1",
	"url" => "2",
	"server" => "3",
	"default" => "3",
);
$config['related']['rankdir'] = array(
	"app" => "LR",
	"url" => "LR",
	"server" => "TB",
	"default" => "TB",
);

// 相比之前在public.php中写死，这种方法能获得扩展能力，例如当需要查询RDS时，只需要定义'rds'=>"RDS"即可实现精确查询
$config['map'] = array(
	"app" => "ApplicationSolution",
	"server" => "Server",
	"ip" => "PhysicalIP",
	"url" => "Url",
	"person" => "Person",
	"default" => "FunctionalCI",
);

// node label删除固定内容(正则)，比如主机名后缀都有xxx.com，完全可以不显示
$config['node']['strip'] = array('/.xxx.com$/');

