<?php
/**
 * Usage:
 * File Name: config.php
 * Created Time: 2016-06-24 11:39:32
 **/

$config = array();

$config['rooturl'] = "http://cmdb.xx/api/";
// 连接
$config['itop']['url'] = "http://cmdb.xx";
$config['itop']['user'] = "apiuser";
$config['itop']['password'] = "k2odmlx;pwo98";
$config['api']['sk'] = "Mkso*kwk218Mlksk;pl.";
