<style>
body {width:90%; margin:auto}
.content {box-shadow: 0 0 5px #BBB;background: #F7F7F7;border: 1px solid #ccc; padding:1em}
img {max-width: 98%}

.aligncenter {
 clear: both;
 display: block;
 margin:auto;
}
table {
    margin: 1em auto;
    border-collapse: collapse; 
    border-spacing: 0; 
    border: 1px solid #aaa; 
    background-color: #f9f9f9;
    width: 90%;
}
table caption {font-weight:bold; font-size:120%; margin-bottom:1em}
table thead {background-color: #D9E2DF;}
table tr,
table td,
table th {
    margin: 0.3em;
    padding: 0.3em;
    border: 1px solid #aaa;
}
td { vertical-align: top; }
</style>
<div class="content">
<p><h1 style="text-align:center; margin:0 auto">{$title}({$report_date})</h1></p><hr/>
<p>
{$content}
</p>
<hr /><br>
<h3>参考链接</h3>
xxxxxx

<p>© ABC Corp.</p>
</div>
