<?php
/**
 * Usage:
 * File Name:
 * Author: annhe  
 * Mail: i@annhe.net
 * Created Time: 2017-04-24 11:20:13
 **/

require dirname(__FILE__).'/../../etc/config.php';
require dirname(__FILE__).'/../../lib/core.function.php';
require dirname(__FILE__).'/../../composer/vendor/autoload.php';

define('ITOPURL', $config['itop']['url']);
define('ITOPUSER', $config['itop']['user']);
define('ITOPPWD', $config['itop']['password']);

$iTopAPI = new \iTopApi\iTopClient(ITOPURL, ITOPUSER, ITOPPWD, $version='1.2');

$config['tasklogdir'] = "logs";

$config['datetime'] = date("Y-m-d H:i:s");
$config['comment'] = "update from action-shell-exec";
$config['update']['delay'] = 10; //更新联系人延迟时间，应对缓存带来的影响

// 配置工单自动指派规则
$config['ticket']['delay'] = 3; // 延时处理工单，应对缓存带来的影响
$config['ticket']['plan'] = array("1");  // 使用id
$config['ticket']['opsteam'] = 15;		// 使用team id
$config['ticket']['allstaff'] = 16; 	// 全员team id
$config['ticket']['special'] = array("RDS申请"=>"1");  // 使用服务名称=>用户id
