<?php
/**
 * Usage:
 * File Name:
 * Author: annhe  
 * Mail: i@annhe.net
 * Created Time: 2017-04-24 11:20:13
 **/

require dirname(__FILE__).'/../../etc/config.php';
require dirname(__FILE__).'/../../lib/core.function.php';
require dirname(__FILE__).'/../../lib/cmdb.function.php';
require dirname(__FILE__).'/../../composer/vendor/autoload.php';

define('ITOPURL', $config['itop']['url']);
define('ITOPUSER', $config['itop']['user']);
define('ITOPPWD', $config['itop']['password']);

$iTopAPI = new \iTopApi\iTopClient(ITOPURL, ITOPUSER, ITOPPWD, $version='1.3');

$config['tasklogdir'] = "logs";

$config['datetime'] = date("Y-m-d H:i:s");
$config['comment'] = "update from action-shell-exec";
$config['update']['delay'] = 10; //更新联系人延迟时间，应对缓存带来的影响

// 配置工单自动指派规则
$config['ticket']['delay'] = 3; // 延时处理工单，应对缓存带来的影响
$config['ticket']['plan'] = array("1"=>array("1"), "2"=>array("3"));  // 使用id，组织=>array(ids)
$config['ticket']['opsteam'] = array("1"=>15, "2"=>"16");		// 使用team id, 组织=>id
$config['ticket']['allstaff'] = 16; 	// 全员team id
$config['ticket']['special'] = array("1"=>array("RDS申请"=>"1"));  // 使用服务名称=>用户id，组织=>规则

// Kubernetes
$config['kubernetes']['master'] = "https://xxx.com";
$config['kubernetes']['ca_cert'] = "/tmp/ca.pem";
$config['kubernetes']['client_cert'] = "/tmp/client_cert.pem";
$config['kubernetes']['client_key'] = "/tmp/client_key.pem";
