<?php
/**
 * Usage:
 * File Name:
 * Author: annhe  
 * Mail: i@annhe.net
 * Created Time: 2017-04-24 11:20:13
 **/

require dirname(__FILE__).'/../../etc/config.php';
require dirname(__FILE__).'/../../lib/core.function.php';
require dirname(__FILE__).'/../../composer/vendor/autoload.php';

define('ITOPURL', $config['itop']['url']);
define('ITOPUSER', $config['itop']['user']);
define('ITOPPWD', $config['itop']['password']);

$iTopAPI = new \iTopApi\iTopClient(ITOPURL, ITOPUSER, ITOPPWD, $version='1.2');

$config['tasklogdir'] = "logs";

$config['datetime'] = date("Y-m-d H:i:s");
$config['comment'] = "update from action-shell-exec";
$config['ticket']['delay'] = 3;
